@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rent Boat</h1>
    <p class="lead">Here we are providing boats on rent. </p>  
    <span>
        <img src="~/Images/Boat.jpg" style="height:100px; width:100px;"/>
    </span>
</div>

